.center {
  display: flex;
  justify-content: center;
  align-items: center; }
  .center #carousel {
    height: 346px;
    width: 500px;
    border-style: solid;
    overflow: hidden;
    float: left; }
    .center #carousel ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: calc(5 * 500px);
      float: left; }
      .center #carousel ul li {
        line-height: 0; }
        .center #carousel ul li img {
          height: 346px; }
